<div class="sudoku-grid">
  <div *ngFor="let r of row; let rowIndex = index" class="row">
    <div *ngFor="let cell of r; let colIndex = index"
         class="cell"
        >
      <!-- Input para celdas con valor 0 -->
      <input *ngIf="cell === 0"
             type="text"
             maxlength="1"                    
             
             class="editable-cell" />
      <!-- Span para celdas con valor distinto de 0 -->
      <span *ngIf="cell">{{ cell }}</span>
    </div>
  </div>
</div>
